.panorama {
    
    
    .grandeRoue {
        width: 120em;
        height: 30em;
        position:relative;
    }
    #site-search {
        position:relative;
        align-items: center;
    }

}