.fa-twitter {
    font-size: 30px;
    color: black;
    margin-left: 40%;
  }
  
  .fa-facebook-f, .fa-instagram, .fa-youtube, .fa-tiktok, .fa-spotify {
    font-size: 30px;
    color: black;
    padding: 10px;
  }
  
  footer {
    border: 1px grey solid;
    height: 50%;
    margin-top: 50%;
    background-color: grey;
    overflow: hidden;
    color: white;
  }
  
  .animalsfriends, .patrimoine {
    filter: brightness(0%);
    width: 70px;
  }
  
  .animalsfriends {
    margin-left: 80%;
  }
  
  .citybxl {
    width: 150px;
    margin-left: 72.4%;
  }
  
  .unesco {
    width: 110px;
    margin-left: 5%;
  }
  
  .patrimoine {
    margin-left: 6%;
    margin-top: -5%;
    padding-top: 1%;
  }
  
  .brucity {
    text-align: center;
  }
  
  .foo {
    border: 1px black solid;
    box-shadow: -1px -1px 13px hsla(0, 0%, 9%, 0.25);
    width: 58%;
    height: 35px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    text-transform: uppercase;
    list-style-type: none;
    color: black;
    margin-left: 22%;
    margin-top: -7%;
    padding-top: 0.6%;
    overflow: hidden;
  }
  
  .cpumlca {
    display: inline;
    margin-right: 25px;
    color: black;
  }
  
  .fa-brands:hover {
    background-color: white;
    opacity: 0.2;
  }
  
  .obcn {
    margin-left: 40%;
    margin-top: 5%;
  }
